
.qiu-select_title{
    margin: 30px 0 15px 15px;
    font-size: 17px;
    color: #444;
}

.qiu-select_canCelBtn,.qiu-select_okBtn{
    margin: 15px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);

    height: 36px;
    border: 1px solid transparent;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    line-height: 36px;
}

.qiu-select_okBtn{
    background-color: #2bab79;
    color: #fff;
}
.qiu-select_canCelBtn{
    background-color: #fff;
    color: #444;
}


.qui-select{
    background-color: #fff;
    height: 250px;
    margin: 0 15px 40px 15px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #ccc;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}



.qui-select-min{
    height: 200px;
    margin: 0 15px 10px 15px;
}




.qui-select .current{
    position: absolute;
    height: 50px;
    border: 1px solid #e6e8ea;
    border-left: 5px solid #2bab79;
    top: 100px;
    right: 0px;
    left: 0px;
    z-index: 1;
}

.qui-select .top, .qui-select .end{
    position: absolute;
    width: 100%;
    height: 40px;
    left:0px;
    background-image: url(http://static.qyer.com/m/common/ui/select/icons.png);
    z-index: 3;
}
.qui-select .top{
    top:0px;
}
.qui-select .end{
    bottom: 0px;
    background-position:0 -40px ;
}


.qui-select .list{
    height: 100%;
    box-sizing: border-box;
    float: left;
    top: 100px;
    position: relative;
    z-index: 2;
}

.qui-select .list li{
    text-align: center;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    color: #b1b1b1;
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 0;
}

.qui-select .list li.selectItem{
    color: #2bab79;
}